<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX07</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
            text-align: center;
            width: 500px;
            margin: 0 auto;
            font-size: 1.5rem;
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table th:object="${goodsVO}">
    <tr>
        <th>상품명</th>
        <th>가격</th>
    </tr>
    <tr>
        <td th:text="*{goodsName}"></td>
        <td th:text="*{goodsPrice}"></td>
    </tr>
</table>
</body>
</html>