<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOIN</title>
</head>
<body>
    <form th:action="@{/member/join}" method="post">
        <div>
            <input type="text" name="memberEmail" placeholder="이메일 입력">
        </div>
        <div>
            <input type="password" name="memberPassword" placeholder="비밀번호 입력">
        </div>
        <div>
            <input type="text" name="memberName" placeholder="이름 입력">
        </div>
        <div>
            <button>완료</button>
        </div>
    </form>
</body>
</html>












