<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.controller.domain.MemberVO" alias="memberVO" />
        <typeAlias type="com.app.controller.domain.PostVO" alias="postVO" />
        <typeAlias type="com.app.controller.domain.ProductVO" alias="productVO" />
        <typeAlias type="com.app.controller.domain.StudentVO" alias="studentVO" />
    </typeAliases>
</configuration>